dist: trusty
sudo: false

language: php

php:
  - 7.1
  - 7.2

cache:
  directories:
    - $HOME/.composer

env:
  - PHPUNIT_CONFIG="phpunit.xml" SYMFONY_VERSION="~3.4.0"
  - PHPUNIT_CONFIG="phpunit.xml" SYMFONY_VERSION="~4.1.0"
  - PHPUNIT_CONFIG="phpunit.xml" SYMFONY_VERSION="^4.2@dev"

matrix:
  include:
    -
      php: 7.1
      env: PHPUNIT_CONFIG="phpunit.xml" SYMFONY_VERSION="~3.4.0" DEPS="low"
    -
      php: 7.2
      env: RUN_PHPSTAN="yes"

branches:
  only:
    - master
    - /^\d.\d+-release$/

before_script:
  - phpenv config-rm xdebug.ini
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

  # Read-only OAuth token to work around GitHub API rate limits
  - composer config -g github-oauth.github.com "4b3b0a83ea27d9544d3608a384c7a14625a98804"

  # Install Flex as a global dependency to enable usage of extra.symfony.require
  # while keeping Flex recipes from applying
  - composer global require --no-scripts symfony/flex

  - if [ "$SYMFONY_VERSION" != "" ] ; then composer config extra.symfony.require $SYMFONY_VERSION ; fi

  - |
    if [ "$DEPS" = "low" ] ; then
      composer update --no-suggest --prefer-dist --prefer-lowest --prefer-stable
    else
      composer update --no-suggest --prefer-dist
    fi

script:
  - composer validate --strict
  - if [ "$PHPUNIT_CONFIG" != "" ] ; then vendor/bin/phpunit -c $PHPUNIT_CONFIG --colors=always ; fi
  - if [ "$RUN_PHPSTAN" != "" ] ; then composer phpstan ; fi
  - if [ "$RUN_PHPSTAN" != "" ] ; then composer phpstan-tests ; fi

notifications:
  email: false
  slack:
    rooms:
      - secure: "nDEDq1qgHAozGDm2/AqZ1NHtwYTuFNkDvS/H9SfiMiFb63Hxz6tsXaCCvnUZ0MZHaq2j/egirrOpdKNIzffu3o7t9pz4gDL8eNEd0cGchM6QYLW3pHpR8UpNxM2SeCrnY+Ec5MMuIINr88b2EZnTxMA6alO83xdaqoxbWJm6YJKsh43PT4JRSl8lBq9xPSBUCkC7DuHsIcMjeQ+mwlIqZ0AEOxltJz0tXtFDK2NMlUvm7r+x7cVLuebN7ZvuECmUyIBcm2VQr5JICJaeDwgvDUru4ZM1oHUMYimWY/sNK+2IAKqUtTkxQDtolxcGm4Lkfivw9HDYgZ/u5zg+GpBRAm9Qh/NYqgqFt3bxc9lpC+ajQMUAE2QQoOfi2FKITLFBYabjeWbKgOiPbAoQ6xE574UTrlCMKDeP27MEXYDP/pE++02arukJbHLT52ML72uNduTNlbmF6Xs8kJaCjPwpXS3ISV3DY6pTJoQBAyhUgCn6zBVbA5rz7m1Sp8D5W5GUNtEmw7suEPnlf5QK+Cs6PKWR4PlX5SZsdWoJI6LGoi+W/zdXSBzjzWXS/Fd8az7UDaSX3+NeV2xK/QZ+oMVm3WjvR9CvHKNjrMj10LRvffMQhPcZKujktLx7TY3ANmYPFb1fEBPpXX2Z5rmZKhYuP6Vhg5lp6a26bd8WUGfU9G4="
    on_success: change
    on_failure: always
    on_pull_requests: false

git:
  depth: 1
