includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    ignoreErrors:
        # Disable errors about missing value types in various vendor classes

        - '#no value type specified in iterable type Pagerfanta\\Pagerfanta.#'
